/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

/* END GENERAL RULES */


main {
    /* width: 90%; */
    height: 90vh;
    width: 90vw;
    margin: 10px auto;
    border: 1px solid black;
}

aside {
    width: 40%;
    height: 100%;
}

.profile {
    background-color:  #EDEDED;
    justify-content: space-between;
    border-bottom: rgb(165, 169, 172) 0.5px solid;
    height: 13%;
}

.notification {
    background-color: deepskyblue;
    padding: 3%;
    justify-content: flex-start;
    border-bottom: rgb(165, 169, 172) 0.5px solid;
    height: 13%;
}

.text-space {
    line-height: 23px;
    margin-left: 5%;
}

.text-space1 {
    margin-left: 5%;
}

.search-bar {
    height: 8%;
    background-color: grey;
}

.search {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2%;
    padding: 1%;
    color: grey;
    width: 80%;
}

.user-list {
    overflow: auto;
    height: 66%;
    background-color: honeydew;
}

.extra {
    width: 100%;
}

.extra p {
    padding-left: 40px;
    padding-top: 10px;
}

.extra svg {
    padding-bottom: 5px;
}

.format {
    padding: 3%;
    border-bottom: rgb(165, 169, 172) 0.5px solid;
}

section {
    width: 60%;
    height: 100%;
}

.user-info {
    background-color: #EDEDED;
    justify-content: space-between;
    height: 13%;
}

.chat {
    background-image: url("img/sfondo chat.png");
    background-color: #EDEDED;
    overflow: auto;
    height: 74%;
    display: none;
}

.right-section div.active {
    display: block;
}

.extra div.active {
    display: block;
}

.send-message {
    background-color: #EDEDED;
    justify-content: space-between;
    height: 13%;
}

.msgsent {
    background-color: chartreuse;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 75%;
    border-radius: 8px;
    max-width: 20%;
    word-wrap: break-word;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.bot {
    background-color: white;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 30%;
    border-radius: 8px;
    word-wrap: break-word;
    display: inline-block;
}

.message {
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    padding-left: 1%;
}

::placeholder {
    margin-left: 3%;
}

#template {
    display: none;
}

.hide {
    color: grey;
} 

.show {
    color: red;
} 

.user-list .active {
    background-color:lightgray;
}

.nascondi {
    display: none;
}

.dropdown {
    position: absolute;
    background: white;
    padding: 5px;
    top: -50%;
    right: 0;
    display: none;
}

