/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
    
}

/* END GENERAL RULES */

/* .global {
    width: 100vw;
    height: 100vh;
} */

main {
    width: 85%;
    margin: 0 auto;
}

aside {
    width: 40%;
}

.profile {
    background-color: rgba(0, 0, 0, .2);
    justify-content: space-between;
    border-bottom: rgb(165, 169, 172) 0.5px solid;
}

.notification {
    background-color: deepskyblue;
    padding: 3%;
    justify-content: flex-start;
    border-bottom: rgb(165, 169, 172) 0.5px solid;
}

.text-space {
    line-height: 23px;
    margin-left: 5%;
}

.text-space1 {
    margin-left: 5%;
}

.search {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 3%;
    color: grey;
    width: 80%;
}

.user-list {
    overflow: auto;
    height: calc(100vh - 250px);
}

.user-info {
    background-color: rgba(0, 0, 0, .2);
    justify-content: space-between;
    height: 80px;
}

.extra {
    width: 100%;
    
}

.format {
    padding: 3%;
    border-bottom: rgb(165, 169, 172) 0.5px solid;
}

section {
    width: 60%;
}

.chat {
    background-image: url("img/sfondo chat.png");
    background-color: rgba(0, 0, 0, .2);
    overflow: auto;
    height: calc(100vh - 200px);
    display: none;
}

.right-section div.active {
    display: block;
}

.send-message {
    background-color: rgba(0, 0, 0, .2);
    justify-content: space-between;
}

.msgsent {
    background-color: chartreuse;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 75%;
    border-radius: 8px;
    max-width: 20%;
    word-wrap: break-word;
    display: inline-block;
}

.bot {
    background-color: white;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 30%;
    border-radius: 8px;
    /* max-width: 20%; */
    word-wrap: break-word;
    display: inline-block;
}

.message {
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
}

::placeholder {
    margin-left: 3%;
}

#template {
    display: none;
}

 .hide {
    color: grey;
} 

.show {
    color: red;
} 

.user-list .active {
    background-color: cornflowerblue;
}

