/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
.flex {
    display: flex;
    /* justify-content: space-between; */
}
/* END GENERAL RULES */

.global {
    width: 100vw;
}

main {
    width: 80%;
    margin: 0 auto;
}

aside {
    width: 40%;
}

.profile {
    background-color: rgba(0,0,0,.2);
}

.notification {
    background-color: deepskyblue;
    padding: 3%;
    justify-content: flex-start;
}

.text-notification {
    line-height: 23px;
    margin-left: 10%;
}

.user-list {
    overflow: auto;
    height: calc(100vh - 150px);
}

.user-info {
    background-color: rgba(0,0,0,.2);
}

section {
    width: 60%;
}

.chat {
    background-image: url("img/sfondo chat.png");
    background-color: rgba(0,0,0,.2);
    overflow: auto;
    height: calc(100vh - 150px);
}
.send-message{
    background-color: rgba(0,0,0,.2);
}

.msgsent {
    background-color: chartreuse;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 75%;
    border-radius: 8px;
    max-width: 20%;
    word-wrap: break-word;
  }

.bot-answer {
    background-color:white;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 30%;
    border-radius: 8px;
    /* max-width: 20%; */
    /* word-wrap: break-word; */
}

#template {
    display: none;
  }